.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 6rem;
    text-align: center;
}
.explore-menu-text{
    max-width: 60%;
    margin: auto;
    columns: #808080;
}
.explore-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 39px;
    text-align: center;
    padding: 20px 5px;
    overflow-x: scroll;
}

@media (max-width:1050px) {
    .explore-menu-list{
        padding: 20px 3px;
        gap: 9px;
        width: 90%;
    }
    .explore-menu{
        padding-top: 1.5rem;
        gap: 17px;
    }
    .explore-menu-text{
        max-width: 60%;
        font-size: 14px;
    }   
   
}